name: Java CI

on:
  [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Upload to Bintray
        run: ./gradlew bintrayUpload curseforgePublish --stacktrace
        env:
          BINTRAY_USER: shedaniel
          BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
          curse_api_key: ${{ secrets.CURSE_API_KEY }}